<section class="send-password-reset">
    <div class="container send-password-reset__container">
        <form [formGroup]="sendPasswordResetForm" (ngSubmit)="onSubmit()">
            <input class="form-control" type="text" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid':submitted && sendPasswordResetForm.controls['email'].errors}">
            <div *ngIf="submitted && sendPasswordResetForm.controls['email'].errors" class="text-danger">
                <span *ngIf="submitted && sendPasswordResetForm.controls['email'].errors['required']">
                    Enter an email
                </span>
                <span *ngIf="submitted && sendPasswordResetForm.controls['email'].errors['email']">
                    Enter a valid email
                </span>
            </div>
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>
</section>
