
<section class="password-restore">
    <div class="container password-restore__container">
        <form [formGroup]="passwordRestoreForm" (ngSubmit)="onSubmit()">
            <input class="form-control" type="password" placeholder="New password" formControlName="password" [ngClass]="{'is-invalid':submitted && passwordRestoreForm.controls['password'].errors}">
            <div *ngIf="submitted && passwordRestoreForm.controls['password'].errors" class="text-danger">
                <span *ngIf="submitted && passwordRestoreForm.controls['password'].errors['required']">
                    Enter a password
                </span>
                <span *ngIf="submitted && passwordRestoreForm.controls['password'].errors['minLength']">
                    The password must have at least 8 characters
                </span>
                <span *ngIf="submitted && passwordRestoreForm.controls['password'].errors['pattern']">
                    The password must be at least 8 characters long and contain a capital letter, a lower case letter, a number and a symbol
                </span>
            </div>
            <input class="form-control" type="password" placeholder="Repeat password" formControlName="passwordConfirm" [ngClass]="{'is-invalid':submitted && passwordRestoreForm.controls['passwordConfirm'].errors}">
            <div *ngIf="submitted && passwordRestoreForm.controls['passwordConfirm'].errors" class="text-danger">
                <span *ngIf="submitted && passwordRestoreForm.controls['passwordConfirm'].errors['required']">
                    Confirm the password
                </span>
                <span *ngIf="submitted && passwordRestoreForm.controls['passwordConfirm'].errors['mismatch']">
                    The passwords do not match
                </span>
            </div>
            <button class="btn btn-primary" type="submit">Restore</button>
        </form>
    </div>
</section>
