<section class="register">
    <div class="container register__container">
        <form #registerForm="ngForm" (ngSubmit)="onRegisterUser(registerForm)">
            <input class="form-control" type="text" placeholder="Email" ngModel name="email">
            <input class="form-control" type="password" placeholder="Password" ngModel name="password">
            <input class="form-control" type="password" placeholder="Repeat password" ngModel name="passwordConfirm">
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</section>
